@charset "utf-8";
/* CSS Document */

.testoContainer {

margin-top: 60px;
margin-left: 60px;
font-size: 24px;

}

.sidebarL {
	margin-top: 60px;
font-size: 26px;
color:#FFF;
text-align:center;
}